:root {
    --coffee-900: #3b241b; /* sidebar dark coffee */
    --coffee-800: #4a2f23;
    --coffee-700: #5b3a2b;
    --coffee-200: #e7d6cd; /* page background */
    --coffee-100: #f2e7e1; /* card background */
    --cream-50: #bdb8b5;
    --white: #ffffff;
    --gray: #4e4e4e;
    --text-900: #2a201d;
    --text-700: #5a4e49;
    --success: #35b46d;
    --danger: #e46b6b;
    --warning: #f0b45a;
    --shadow: none;
    --radius: 1.3rem;

    /* tamaños de texto mobile*/
    --title-mobile: 2.8rem;
    --subtitle-mobile: 2.2rem;
    --little-header-mobile: 1.8rem;
    --paragraph-mobile: 1.5rem;
    --secondary-paragraph-mobile: 1.3rem;
    --button-text-mobile: 1.3rem;
    --menu-navigation-mobile: 1.4rem;
    --highlighted-text-mobile: 1.6rem;

    /* tamaños de texto desktop */
    --title-desktop: 4.4rem;
    --subtitle-desktop: 3.6rem;
    --little-header-desktop: 2.6rem;
    --paragraph-desktop: 1.8rem;
    --secondary-paragraph-desktop: 1.5rem;
    --button-text-desktop: 1.5rem;
    --menu-navigation-desktop: 1.6rem;
    --highlighted-text-desktop: 2.1rem;
}