USE [master]
GO
/****** Object:  Database [CafData]    Script Date: 2/11/2025 12:33:09 p. m. ******/
CREATE DATABASE [CafData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\CafData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\CafData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafData]
GO
/****** Object:  Table [dbo].[Attendance_Log]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance_Log](
	[Attendance_Id] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
	[Date] [date] NOT NULL,
	[Start_Date] [time](7) NOT NULL,
	[End_Date] [time](7) NOT NULL,
	[Status] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Attendance_Log] PRIMARY KEY CLUSTERED 
(
	[Attendance_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Client_Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone_Number] [nvarchar](18) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Registration_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Client_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Company_Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Nit] [int] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone_Number] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Slogan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Company_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Coupons_Id] [uniqueidentifier] NOT NULL,
	[Coupons_Code] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](25) NOT NULL,
	[value] [decimal](18, 0) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Maximum_Use] [int] NOT NULL,
	[Time_Used] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[Coupons_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Coupons] UNIQUE NONCLUSTERED 
(
	[Coupons_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounted_Products]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounted_Products](
	[Product_Id] [uniqueidentifier] NOT NULL,
	[Global_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Discounted_Products] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC,
	[Global_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[Discount_Id] [uniqueidentifier] NOT NULL,
	[Product_Id] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](15) NOT NULL,
	[Value] [decimal](18, 0) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Active] [bit] NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Discounts] PRIMARY KEY CLUSTERED 
(
	[Discount_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Global_Discounts]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Global_Discounts](
	[Global_Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Value] [decimal](18, 0) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Global_Discounts] PRIMARY KEY CLUSTERED 
(
	[Global_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Movement]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Movement](
	[Movement_Id] [uniqueidentifier] NOT NULL,
	[Product_Id] [uniqueidentifier] NOT NULL,
	[Type_Movement] [nvarchar](20) NOT NULL,
	[Quantity] [uniqueidentifier] NOT NULL,
	[Reason] [nvarchar](20) NOT NULL,
	[Date_Movement] [datetime] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Inventory_Movement] PRIMARY KEY CLUSTERED 
(
	[Movement_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Permission_Id] [uniqueidentifier] NOT NULL,
	[Name] [nchar](20) NOT NULL,
	[Description] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_History]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_History](
	[History_Id] [uniqueidentifier] NOT NULL,
	[Product_Id] [uniqueidentifier] NOT NULL,
	[Previous_Price] [decimal](18, 0) NOT NULL,
	[New_Price] [decimal](18, 0) NOT NULL,
	[Change_Date] [datetime] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
	[Reason] [nvarchar](50) NULL,
 CONSTRAINT [PK_Price_History] PRIMARY KEY CLUSTERED 
(
	[History_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Stock] [int] NOT NULL,
	[Min_Stock] [int] NOT NULL,
	[Category_Id] [uniqueidentifier] NOT NULL,
	[Creation_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Rol_Id] [uniqueidentifier] NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Description] [ntext] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Rol_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles_Permissions]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles_Permissions](
	[Rol_Id] [uniqueidentifier] NOT NULL,
	[Permission_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Roles_Permissions] PRIMARY KEY CLUSTERED 
(
	[Rol_Id] ASC,
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Detail]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Detail](
	[Detail_Id] [uniqueidentifier] NOT NULL,
	[Sale_Id] [uniqueidentifier] NOT NULL,
	[Product_Id] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [decimal](18, 0) NOT NULL,
	[Subtotal] [decimal](18, 0) NOT NULL,
	[Discount_applied] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Discount_Applied] PRIMARY KEY CLUSTERED 
(
	[Detail_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Sale_Id] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
	[Client_Id] [uniqueidentifier] NOT NULL,
	[Cupon_Id] [uniqueidentifier] NOT NULL,
	[Sale_Date] [datetime] NOT NULL,
	[Total] [decimal](18, 0) NOT NULL,
	[Payment_Method] [nvarchar](25) NOT NULL,
	[Status] [nvarchar](25) NOT NULL,
	[Total_Discount] [decimal](18, 0) NOT NULL,
	[Type_Discount] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Sale_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_Log]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_Log](
	[Id_Logs] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
	[Acction] [nvarchar](15) NOT NULL,
	[Description] [nchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Module] [nchar](25) NOT NULL,
 CONSTRAINT [PK_System_Log] PRIMARY KEY CLUSTERED 
(
	[Id_Logs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Schedule]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Schedule](
	[Schedules_Id] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
	[Check_In_Time] [time](7) NOT NULL,
	[Check_Out_Time] [time](7) NOT NULL,
	[weekday] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_User_Schedule] PRIMARY KEY CLUSTERED 
(
	[Schedules_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [uniqueidentifier] NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Username] [nchar](15) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[Rol_Id] [uniqueidentifier] NOT NULL,
	[Status] [nchar](15) NOT NULL,
	[Creation_Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Sesions]    Script Date: 2/11/2025 12:33:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Sesions](
	[Id_Session] [uniqueidentifier] NOT NULL,
	[User_Id] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[Start_Date] [datetime] NOT NULL,
	[End_Date] [datetime] NOT NULL,
	[Status] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Users_Sesions] PRIMARY KEY CLUSTERED 
(
	[Id_Session] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance_Log] ADD  CONSTRAINT [DF_Attendance_Log_Attendance_Id]  DEFAULT (newid()) FOR [Attendance_Id]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Category_Id]  DEFAULT (newid()) FOR [Category_Id]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_Client_Id]  DEFAULT (newid()) FOR [Client_Id]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_Registration_Date]  DEFAULT (getdate()) FOR [Registration_Date]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_Company_Id]  DEFAULT (newid()) FOR [Company_Id]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_Coupons_Id]  DEFAULT (newid()) FOR [Coupons_Id]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_Maximum_Use]  DEFAULT ((1)) FOR [Maximum_Use]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_Time_Used]  DEFAULT ((0)) FOR [Time_Used]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_Discount_Id]  DEFAULT (newid()) FOR [Discount_Id]
GO
ALTER TABLE [dbo].[Discounts] ADD  CONSTRAINT [DF_Discounts_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Global_Discounts] ADD  CONSTRAINT [DF_Global_Discounts_Global_Id]  DEFAULT (newid()) FOR [Global_Id]
GO
ALTER TABLE [dbo].[Global_Discounts] ADD  CONSTRAINT [DF_Global_Discounts_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Inventory_Movement] ADD  CONSTRAINT [DF_Inventory_Movement_Movement_Id]  DEFAULT (newid()) FOR [Movement_Id]
GO
ALTER TABLE [dbo].[Inventory_Movement] ADD  CONSTRAINT [DF_Inventory_Movement_Date_Movement]  DEFAULT (getdate()) FOR [Date_Movement]
GO
ALTER TABLE [dbo].[Permissions] ADD  CONSTRAINT [DF_Permissions_Permission_Id]  DEFAULT (newid()) FOR [Permission_Id]
GO
ALTER TABLE [dbo].[Price_History] ADD  CONSTRAINT [DF_Price_History_History_Id]  DEFAULT (newid()) FOR [History_Id]
GO
ALTER TABLE [dbo].[Price_History] ADD  CONSTRAINT [DF_Price_History_Change_Date]  DEFAULT (getdate()) FOR [Change_Date]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Product_Id]  DEFAULT (newid()) FOR [Product_Id]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_Rol_Id]  DEFAULT (newid()) FOR [Rol_Id]
GO
ALTER TABLE [dbo].[Sale_Detail] ADD  CONSTRAINT [DF_Discount_Applied_Detail_Id]  DEFAULT (newid()) FOR [Detail_Id]
GO
ALTER TABLE [dbo].[Sale_Detail] ADD  CONSTRAINT [DF_Discount_Applied_Discuonut_Applied]  DEFAULT ((0)) FOR [Discount_applied]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_Sale_Id]  DEFAULT (newid()) FOR [Sale_Id]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_Total_Discount]  DEFAULT ((0)) FOR [Total_Discount]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Table_1_]  DEFAULT ((0)) FOR [Type_Discount]
GO
ALTER TABLE [dbo].[System_Log] ADD  CONSTRAINT [DF_System_Log_Id_Logs]  DEFAULT (newid()) FOR [Id_Logs]
GO
ALTER TABLE [dbo].[User_Schedule] ADD  CONSTRAINT [DF_User_Schedule_Schedules_Id]  DEFAULT (newid()) FOR [Schedules_Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Table_1_User_IDs]  DEFAULT (newid()) FOR [User_Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Creation_Date]  DEFAULT (getdate()) FOR [Creation_Date]
GO
ALTER TABLE [dbo].[Users_Sesions] ADD  CONSTRAINT [DF_Users_Sesions_Id_Session]  DEFAULT (newid()) FOR [Id_Session]
GO
ALTER TABLE [dbo].[Attendance_Log]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Log_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Attendance_Log] CHECK CONSTRAINT [FK_Attendance_Log_Users]
GO
ALTER TABLE [dbo].[Discounted_Products]  WITH CHECK ADD  CONSTRAINT [FK_Discounted_Products_Global_Discounts] FOREIGN KEY([Global_Id])
REFERENCES [dbo].[Global_Discounts] ([Global_Id])
GO
ALTER TABLE [dbo].[Discounted_Products] CHECK CONSTRAINT [FK_Discounted_Products_Global_Discounts]
GO
ALTER TABLE [dbo].[Discounted_Products]  WITH CHECK ADD  CONSTRAINT [FK_Discounted_Products_Products] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
GO
ALTER TABLE [dbo].[Discounted_Products] CHECK CONSTRAINT [FK_Discounted_Products_Products]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [FK_Discounts_Products] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [FK_Discounts_Products]
GO
ALTER TABLE [dbo].[Inventory_Movement]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Movement_Products] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
GO
ALTER TABLE [dbo].[Inventory_Movement] CHECK CONSTRAINT [FK_Inventory_Movement_Products]
GO
ALTER TABLE [dbo].[Inventory_Movement]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Movement_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Inventory_Movement] CHECK CONSTRAINT [FK_Inventory_Movement_Users]
GO
ALTER TABLE [dbo].[Price_History]  WITH CHECK ADD  CONSTRAINT [FK_Price_History_Products] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Product_Id])
GO
ALTER TABLE [dbo].[Price_History] CHECK CONSTRAINT [FK_Price_History_Products]
GO
ALTER TABLE [dbo].[Price_History]  WITH CHECK ADD  CONSTRAINT [FK_Price_History_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Price_History] CHECK CONSTRAINT [FK_Price_History_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Category_Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Roles_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Permissions_Permissions] FOREIGN KEY([Permission_Id])
REFERENCES [dbo].[Permissions] ([Permission_Id])
GO
ALTER TABLE [dbo].[Roles_Permissions] CHECK CONSTRAINT [FK_Roles_Permissions_Permissions]
GO
ALTER TABLE [dbo].[Roles_Permissions]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Permissions_Roles] FOREIGN KEY([Rol_Id])
REFERENCES [dbo].[Roles] ([Rol_Id])
GO
ALTER TABLE [dbo].[Roles_Permissions] CHECK CONSTRAINT [FK_Roles_Permissions_Roles]
GO
ALTER TABLE [dbo].[Sale_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Applied_Sales] FOREIGN KEY([Sale_Id])
REFERENCES [dbo].[Sales] ([Sale_Id])
GO
ALTER TABLE [dbo].[Sale_Detail] CHECK CONSTRAINT [FK_Discount_Applied_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Clients] FOREIGN KEY([Client_Id])
REFERENCES [dbo].[Clients] ([Client_Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Clients]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Coupons] FOREIGN KEY([Cupon_Id])
REFERENCES [dbo].[Coupons] ([Coupons_Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Coupons]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Users]
GO
ALTER TABLE [dbo].[System_Log]  WITH CHECK ADD  CONSTRAINT [FK_System_Log_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[System_Log] CHECK CONSTRAINT [FK_System_Log_Users]
GO
ALTER TABLE [dbo].[User_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_User_Schedule_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[User_Schedule] CHECK CONSTRAINT [FK_User_Schedule_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Rol_Id])
REFERENCES [dbo].[Roles] ([Rol_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users_Sesions]  WITH CHECK ADD  CONSTRAINT [FK_Users_Sesions_Users] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Users_Sesions] CHECK CONSTRAINT [FK_Users_Sesions_Users]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons] CHECK  (([Type]='monto' OR [Type]='porcentaje'))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD  CONSTRAINT [CK_Discounts] CHECK  (([Type]='monto' OR [Type]='porcentaje'))
GO
ALTER TABLE [dbo].[Discounts] CHECK CONSTRAINT [CK_Discounts]
GO
ALTER TABLE [dbo].[Global_Discounts]  WITH CHECK ADD  CONSTRAINT [CK_Global_Discounts] CHECK  (([Type]='monto' OR [Type]='porcentaje'))
GO
ALTER TABLE [dbo].[Global_Discounts] CHECK CONSTRAINT [CK_Global_Discounts]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CK_Sales] CHECK  (([Status]='Cancelada' OR [Status]='Completada'))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CK_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [CK_Sales_1] CHECK  (([Type_Discount]='monto' OR [Type_Discount]='porcentaje'))
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [CK_Sales_1]
GO
USE [master]
GO
